* {
    margin: 0;
    padding: 0;
    outline: 0;
}

#addTask {
    font-size: 16px;
    width: 100px;
    height: 35px;
    text-align: center;
}

li {
    border: solid 2px;
    list-style: none;
    text-align: left;
    padding: 0 0 20 20px;
    width: 380px;
    height: 35px;
    border-radius: 6px;
    background-color:ghostwhite;
}

#done {
    margin-top: 35px;
}